$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
// CSS helpers, most of the helpers will start with the word has, to keep it simple and making sense.

// Box Shadows
.has-drop-shadow{
  -webkit-box-shadow: 0px 7px 8px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 7px 8px -6px rgba(0,0,0,1);
  box-shadow: 0px 7px 8px -6px rgba(0,0,0,1);
}
.has-box-shadow{
  -webkit-box-shadow: 0px 0px 40px -18px rgba(138,138,138,1);
  -moz-box-shadow: 0px 0px 40px -18px rgba(138,138,138,1);
  box-shadow: 0px 0px 40px -18px rgba(138,138,138,1);
}
